header {
    width: 100%;
    right: 0;
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
header .Container {
    padding-top: 0px;
    padding-bottom: 0px;
}

.LogoImage {
    height: 60px;
    float: left;
}

.LogoImage img {
    max-height: 100%;
}