header {
    width: 100%;
    right: 0;
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
header .Container {
    padding-top: 0px;
    padding-bottom: 0px;
}

.LogoImage {
    height: 60px;
    float: left;
}

.LogoImage img {
    max-height: 100%;
}

header button {
    display: none;
}


@media (max-width: 768px) {

    header button {
        display: block;
        float: right;
    }

    .LogoImage {
        height: 45px;
    }
    
    nav {
        width: 100%;
    }

    nav > div {
        margin-top: 40px;
    }

    nav.close {
        max-height: 0px;
        transition: max-height 0.5s;
        overflow-y: hidden;
    }
    
    nav.open {
        max-height: 600px;  
    }

    nav a {
        display: block;
    }
}
