.EventTile {
    background-color: #fff;
    margin-bottom: 20px;
}

.TileHeader {
    background-color: #ccc;
    padding: 10px 20px;
    cursor: pointer;
}

.TileContent {
    padding: 0px 20px;
    overflow: hidden;
    box-sizing: border-box;
    transition: max-height 0.5s;
}

.TileContent div:first-child {
    padding-top: 10px;
}

.TileContent div:last-child {
    padding-bottom: 10px;
}

.SpecialEventTile {
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #29ABE2;
}

.SpecialEventTile span {
    display: block;
}

.SpecialEventTile .Title {
    font-weight: 500;
    padding-bottom: 5px;
}

.SpecialEventTile a {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    margin-top: 10px;
    font-size: 12pt;
    font-family: "Roboto";
    font-weight: 300;
    color: #29ABE2;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px;
    border: 0px;
}