.EventTile {
    background-color: #fff;
    margin-bottom: 20px;
}

.TileHeader {
    background-color: #ccc;
    padding: 10px 20px;
    cursor: pointer;
}

.TileContent {
    padding: 0px 20px;
    overflow: hidden;
    box-sizing: border-box;
    transition: max-height 0.5s;
}

.TileContent div:first-child {
    padding-top: 10px;
}

.TileContent div:last-child {
    padding-bottom: 10px;
}

.EventLeft {
    float: left;
    width: 60%;
}

.EventRight {
    width: 40%;
    float: left;
    position: relative;
}

.EventRight > div {
    background-color: #fff;
    margin-left: 20px;
    padding: 20px;
    top: -20px;
    position: relative;
}

@media (max-width: 768px) {
    .EventLeft {
        width: 100%;
    }
    
    .EventRight {
        width: 100%;
        float: left;
        position: relative;
    }
    
    .EventRight > div {
        background-color: transparent;
        margin-left: 0px;
        padding: 0px;
        padding-top: 20px;
        top: 0px;
        position: relative;
    }
} 


.SpecialEventTile {
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #29ABE2;
}

.SpecialEventTile span {
    display: block;
}

.SpecialEventTile .Title {
    font-weight: 500;
    padding-bottom: 5px;
}

.SpecialEventTile a {
    text-decoration: none;
    display: inline-block;
    margin: 0;
    margin-top: 10px;
    font-size: 12pt;
    font-family: "Roboto";
    font-weight: 300;
    color: #29ABE2;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px;
    border: 0px;
}

